<!DOCTYPE html>
<html>
<head>
    <title>Students by Campus</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Students by Campus</h1>
    <h2>Chicago</h2>
        <ul>
          <% @chi.each do |student| %>
          <li><%= student['name'] %></li>
          <% end %>
        </ul>
    <h2>New York</h2>
        <ul>
          <% @nyc.each do |student| %>
          <li><%= student['name'] %></li>
          <% end %>
        </ul>
    <h2>San Diego</h2>
        <ul>
          <% @sd.each do |student| %>
          <li><%= student['name'] %></li>
          <% end %>
        </ul>
    <h2>San Francisco</h2>
        <ul>
          <% @sf.each do |student| %>
          <li><%= student['name'] %></li>
          <% end %>
        </ul>
    <h2>Seattle</h2>
        <ul>
          <% @sea.each do |student| %>
          <li><%= student['name'] %></li>
          <% end %>
        </ul>
</body>
</html>